@import "../../base-common/css/base";
    body{
      background: #f0eff4
      
    }
    a{
    	color:#333;
    }
    .a_register{
      .bind_code{
        background: #2c9afe;
        padding:6.25%;
        position: relative;
        .code_waring{
          color: #fff;
          padding: 5px 0;
          text-align: center;
        }
        .circle_span{
          position: absolute;
          display: inline-block;
          background: #2c9afe;
          width: 30px;
          height: 30px;
          border-radius: 30px; 
          color: #fff;
          bottom: -15px;
          text-align: center;
          line-height: 30px;
          left:50%;
          margin-left:-15px;
        }
        .bind_code_tit{
          color: #fff;
          text-align: center;
          font-size: 18px;
        }
        .code_input{
          overflow: hidden;
          border-radius: 5px;
          margin:10px 0;
          .code_l{
           float: left;
            width: 58%;
            height: 55px;
            background: #fff;
            display: inline-block;
            padding-left:3%;
            input{
              border:0 none;
              padding:15px 0;
              line-height: 20px;
              width: 100%;
              font-size: 20px;
            }
          }
          .code_r{
            float: left;
            width: 42%;
            height: 55px;
            line-height: 55px;
            text-align: center;
            display: inline-block;
            background:#303c41;
            color: #fff;
            font-size: 20px;
          }
        
        }
      }
      .otherStyle{
        background: #fff;
         border-bottom: 1px solid #dddddd;
         padding-top:15px;
        .item_o{
          border-bottom: 1px solid #dddddd;
          height: 60px;
          margin:0 6.25%;
          background: #fff;
          .item_all{
            width: 100%;
            display: inline-block;;
            float: left;
            height:59px;
            input{
              padding:19px 0;
              line-height: 16px;
              border:0 none;
              width: 100%;
              font-size: 16px;
              
            }
            input::-webkit-input-placeholder {
              color:#cccccc
            }
            .city_select{
              border:0 none;
              width: 100%;
              padding:17px 0;
              font-size: 16px;
             color: #cccccc;
             option{
              color: #333;
             }
            }

          }
          .item_half{
            width: 50%;
            display: inline-block;;
            float: left;
            height: 59px;
            input{
              padding:11px 0;
              line-height: 16px;
              border:0 none;
              width: 100%;
              font-size: 16px;
            }
          }
          
          
        }
        .item_btn{
           padding:6.25%;
          .appleBtn{
            display: inline-block;width: 100%;
            background: #2c9afe;
            height: 44px;
            line-height: 44px;
            text-align: center;
            color: #fff;
            border:0 none;
            border-radius: 5px;
            font-size: 18px;
          }
        }
        .item_x{
          background: #fff;
           height: 60px;
          .item_half{
             border-bottom: 1px solid #dddddd;
            height: 60px;
            margin-left: 6.25%;
            width: 50%;
            display: inline-block;
            float: left;
            input{
                padding:19px 0;
                line-height: 16px;
                border:0 none;
                width: 100%;
                font-size: 16px;
              }
          }
          input::-webkit-input-placeholder {
              color:#cccccc
            }
          .item_send{
             width: 42%;
             padding-right:6.25%;
              float: right;
            .send_msg{
              width: 100%;
              display: inline-block;;
              color: #2c9afe;
              height: 40px;
              border:1px solid #2c9afe;
              line-height: 38px;
              text-align: center;
              margin-top:20px;
              background: #fff;
              border-radius: 4px;
              font-size: 16px;
            }
          }
          
        }
      }
      .register_pic{
        padding:0 6.25%;
        margin-top:6.25%;
        .re_img{
          position: relative;
          margin:10px 0;
           background: #fff;
           border: 1px solid #dddddd;
          img{width: 100%}
          .three_pic{
            position: absolute;
            display: inline-block;
            background: url(../img/ye_th.png) no-repeat;
            background-size: 100%;
            width: 19px;
            height: 19px;
            left: 0;
            top:0;
          }
        }
        
      }
    
    }
    .yyc_pic{
      display: none;
      .yyc_covers_bg{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        left: 0;
        top:0;
        z-index: 1010;

      }
      .yyc_covers{
        z-index: 1011;
        position: fixed;
        width: 80%;
        left:50%;
        top:18%;
        margin-left: -40%;
        border-radius: 10px;
        .yyc_covers_pic{
           border-radius: 10px 10px 0 0;
          background:#eeeeee;
          padding:20px;
          img{
            width: 100%
          }
        }
        .showCodeTit{
          border-radius: 0 0 10px 10px;
          background: #fff;
          padding: 20px;
          text-align: center;
        }
      }
    }
    .warning {
      position: fixed;
      top: 30%;
      left: 50%;
       padding: 10px 0;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      z-index: 10; 
      transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
    i {
      display: block;
      width: 20px;
      height: 20px;
      margin: 5px auto 5px;
      background: url(../img/tip.png) no-repeat center;
      background-size: 100%; 
    }
    p{
      padding: 10px;
    }
    &.none {
      display: none;
    }
  }
    