@charset "utf-8";

/** common style start **/

@import '../../base-common/css/common';
body {
    background: #f0eff4;
    font-size: 0.875rem;
    color: #2c2c2c;
    height: 100%;
}

.footNav {
    height: 60px;
    .footUl {
        background-color: #f8f8f8;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        li {
            display: inline-block;
            height: 50px;
            padding-top: 7px;
            text-align: center;
            border-top: 1px solid #d3d3d3;
            background-color: #f8f8f8;
            line-height: 1.2;
            a {
                display: block;
                font-size: 0.625rem;
                color: #929292;
                &.active {
                    color: #2c2c2c;
                }
            }
            span {
                display: inline-block;
                width: 22px;
                height: 23px;
            }
        }
        li:nth-child(1) {
            width: 14%;
            border-right: 1px solid #d3d3d3;
            a {
                span {
                    background: url(../img/tab-nav1.png) no-repeat;
                }
                .navIcon {
                    background-position: 0 0;
                    background-size: 100% 200%;
                }
                &.active {
                    .navIcon {
                        background-position: 0 -23px;
                        background-size: 100% 200%;
                    }
                }
            }
        }
        li:nth-child(2) {
            width: 43%;
            border-right: 1px solid #d3d3d3;
            a {
                span {
                    background: url(../img/tab-nav3.png) no-repeat;
                }
                .navIcon {
                    background-position: 0 0;
                    background-size: 100% 200%;
                }
                &.active {
                    .navIcon {
                        background-position: 0 -23px;
                        background-size: 100% 200%;
                    }
                }
            }
        }
        li:nth-child(3) {
            width: 43%;
            a {
                span {
                    width: 18px;
                    background: url(../img/tab-nav2.png) no-repeat;
                }
                .navIcon {
                    background-position: 0 0;
                    background-size: 100% 200%;
                }
                &.active {
                    .navIcon {
                        background-position: 0 -23px;
                        background-size: 100% 200%;
                    }
                }
            }
        }
    }
}




.mallBox {
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 4%;
    background-color: #ffffff;
    .boxTitle {
        font-size: 0.875rem;
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 20px;
    }
}

@import "./mallHome.scss";
@import "./myCenter.scss";
@import "./productAll.scss";
