
.mallHome {
    .official {
    	.swiper-container {
	     width: 100%;
	        height: 100%;
	    }
	    .swiper-slide {
	        text-align: left;
	        font-size: 1rem;
	        background: #fff;
	        width: 80%;
	        /* Center slide text vertically */
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-box-pack: center;
	        -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	        -webkit-box-align: center;
	        -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	        .title{
	        	font-size:0.875rem;
	        	text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
	        }
	        .price{
	        	text-align: left;
	        }
	        span:nth-child(1) {
                font-size: 1rem;
                color: #ff4444;
            }
            span:nth-child(2) {
                font-size: 1rem;
                color: #ff4444;
            }
            span:nth-child(3) {
                font-size: 0.75rem;
                color: #999999;
                padding:0 5px;
            }
            .delete {
                text-decoration: line-through;
            }
            .label{
                border: 1px solid #2c2c2c;
                border-radius: 3px;
                font-size: 0.625rem;
                padding: 2px;
                margin: 0 4px;
                vertical-align: text-top;
            }
	    }
    }
    .onsellProduct {
        .product {
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 20px;
            margin-bottom: 10px;
            img {
                width: 100%;
                margin-bottom: 10px;
            }
            p:nth-child(2) {
                font-size: 0.875rem;
                font-weight: 700;
            }
            p:nth-child(3) {
            	position: relative;
                font-size: 1rem;
                color: #ff4444;
            }
            .label{
            	position: absolute;
            	bottom: 2px;
                border: 1px solid #2c2c2c;
                border-radius: 3px;
                font-size: 0.625rem;
                padding: 2px;
                margin: 0 10px;
                vertical-align: text-top;
                color: #2c2c2c;
            }
        }
        .product:last-child {
            margin-bottom: 0;
            border-bottom: 0px;
            padding-bottom: 10px;
        }
    }
    .recommend {
        .productOdd,.productEven {
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;
            width: 48%;
            font-size: 0.75rem;
            vertical-align: top;
            .img{
                position: relative;
                width: 100%;
                height: 0;
                padding: 37.4% 0;
                margin-bottom: 10px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            p:nth-child(2){
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }  
            p:nth-child(3) {
                color: #ff4444;
            }
        }
        .productOdd:nth-child(odd),.productEven:nth-child(odd) {
            margin-left: 4%;
        }
        .productOdd:last-child,.productEven:last-child,.productOdd:nth-last-child(2){
             border-bottom: 0;
             margin-bottom: 0;
        }
    }
}

.swiperBanner {
    width: 100%;
    img {
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    html {
        .recommend{
            p:nth-child(2){
                  min-height: 36px;
            }              
        }
        .swiperBanner{
            .title{
                min-height:42px; 
            }
        }
    }
}

@media screen and (min-width: 360px) {
    html {
        .recommend{
            p:nth-child(2){
                  min-height: 40px;
            }              
        }
        .swiperBanner{
            .title{
                min-height:46px; 
            }
        }
    }
}

@media screen and (min-width: 400px) {
    html {
        .recommend{
            p:nth-child(2){
                  min-height: 44px;
            }              
        }
        .swiperBanner{
            .title{
                min-height:52px; 
            }
        }
    }
}
